<?xml version="1.0" encoding="iso-8859-1"?>
<events xmlns="http://jelix.org/ns/events/1.0">
    <listener name="booster">
         <event name="BoosterTaskTodo" />
    </listener>
    <listener name="modNotification">
        <event name="new_item_added" />
        <event name="new_version_added" />
        <event name="item_edited" />
        <event name="version_edited" />
    </listener>
</events>
